<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="ETechFlow_PageSpeedOptimizer::config"
                                      title="ETechFlow Page Speed Optimizer"
                                      sortOrder="65"/>
                        </resource>
                    </resource>
                    <resource id="Magento_Backend::stores_other_settings">
                        <resource id="ETechFlow_PageSpeedOptimizer::diagnose"
                                  title="ETechFlow Page Speed Diagnose"
                                  sortOrder="50"/>
                        <resource id="ETechFlow_PageSpeedOptimizer::trends"
                                  title="ETechFlow Page Speed Trends"
                                  sortOrder="51"/>
                        <resource id="ETechFlow_PageSpeedOptimizer::optimizationlog"
                                  title="ETechFlow Image Optimization Log"
                                  sortOrder="52">
                            <resource id="ETechFlow_PageSpeedOptimizer::optimizationlog_delete"
                                      title="Delete log entries"/>
                            <resource id="ETechFlow_PageSpeedOptimizer::optimizationlog_restore"
                                      title="Restore originals (delete WebP files)"/>
                        </resource>
                        <resource id="ETechFlow_PageSpeedOptimizer::crontasks"
                                  title="ETechFlow Cron Tasks List"
                                  sortOrder="53"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
