<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ETechFlow_PageSpeedOptimizer::diagnose"
             title="Page Speed Diagnose"
             module="ETechFlow_PageSpeedOptimizer"
             sortOrder="50"
             parent="Magento_Backend::system_other_settings"
             action="etechflow_pso/diagnose/index"
             resource="ETechFlow_PageSpeedOptimizer::diagnose"/>
        <add id="ETechFlow_PageSpeedOptimizer::trends"
             title="Page Speed Trends"
             module="ETechFlow_PageSpeedOptimizer"
             sortOrder="51"
             parent="Magento_Backend::system_other_settings"
             action="etechflow_pso/trends/index"
             resource="ETechFlow_PageSpeedOptimizer::trends"/>
        <add id="ETechFlow_PageSpeedOptimizer::optimizationlog"
             title="Image Optimization Log"
             module="ETechFlow_PageSpeedOptimizer"
             sortOrder="52"
             parent="Magento_Backend::system_other_settings"
             action="etechflow_pso/optimizationlog/index"
             resource="ETechFlow_PageSpeedOptimizer::optimizationlog"/>
    </menu>
</config>
